<h1 class='m-4'>Departamentos</h1>
<table class='table table-striped table-warning'>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Nombre</th>
      <th>Localidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let d of departamentos'>
      <td>{{d.numero}}</td>
      <td>{{d.nombre}}</td>
      <td>{{d.localidad}}</td>
      <td>
        <a class='btn btn-success me-2' [routerLink]="['/modificardepartamento', d.numero]">Modificar</a>
        <a [routerLink]="['/eliminardepartamento', d.numero]" class=' btn btn-danger me-2'>X</a>
        <button class='btn btn-danger ms-2 me-2' (click)='eliminarDepartamentoBoton(d.numero)'>Eliminar boton</button>
        <button class='btn btn-warning me-2' [routerLink]="['/empleadosdepartamento',d.numero]">Detalles
          Departameto</button>
      </td>

    </tr>
  </tbody>
</table>
